*{
    margin: 0;
    padding: 0;
}
.divh1{
    text-decoration: none;
    color: #fff;
}
.divh1et{
    text-decoration: none;
    color: #fff;
    opacity: 0.5;
    padding-left: 15px;
}

.toolbar{
    display: flex;
    align-items: center;
    justify-content: space-between;

}